@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

.nav-bar {
  position: relative;
  z-index: 30;
  height: getCssVar('nav-height');
}
@include b(nav-bar) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 64px;
  z-index: 30;
  border-bottom: 1px solid rgba(60, 60, 60, .12);
  box-sizing: border-box;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  @include when(hide) {
    transform: translate3d(0, -64px, 0);
  }
  @include e(container) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: calc($layout-max-width - 64px);
    padding: 0px 32px;
    height: inherit;
  }
  @include e(left) {
    display: flex;
    align-items: center;
    height: inherit;
  }
  @include e(right) {
    display: flex;
    align-items: center;
    height: inherit;
    @include e(right-slot) {
      display: flex;
      align-items: center;
      height: inherit;
    }
  }
  @include e(title) {
    color: getCssVar('text-color', 'primary');
    margin-left: 8px;
    font-weight: 500;
  }
  @include e(icon) {
    max-width: 52px;
    max-height: 52px;
  }
  @include e(social-link) {
    margin: 8px;
    color: getCssVar('text-color', 'light-2');
    cursor: pointer;
  }
  .#{$namespace}-nav-bar__right-slot + .#{$namespace}-nav-bar__social-links {
    margin-left: 16px;
  }
}