@use 'sass:math';
@use 'sass:map';
@use '../color/index.scss' as *;
@use '../mixins/function.scss' as *;
// @use '../color/theme.scss' as *;

/**
 * @desc 主题色
 * @types 主题色类别 red, valcano, orange, gold, yellow, lime, green, cyan, blue, geekblue, purple, magenta
 */
// $theme-color: 'valcano';

$color-scence: () !default;
$color-scence: map.deep-merge(
  (
    'primary': (
      '': getCssVar('color', '6'),
      'normal': getCssVar('color', '6'),
      'hover': getCssVar('color', '5'),
      'click': getCssVar('color', '7'),
      'selected': getCssVar('color', '1'),
      'border': getCssVar('color', '5')
    )
  ),
  $color-scence
);

// Background
$bg-color: () !default;
$bg-color: map.merge(
  (
    '': #ffffff,
    'page': #f2f3f5,
    'overlay': #ffffff,
  ),
  $bg-color
);

$text-color: () !default;
$text-color: map.merge(
  (
    'primary': #303133,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #a8abb2,
    'disabled': #c0c4cc,
    'light-2': rgba(60, 60, 60, .7)
  ),
  $text-color
);

$border-color: () !default;
$border-color: map.merge(
  (
    '': #dcdfe6,
    'light': #e4e7ed,
    'dark': #d4d7de,
  ),
  $border-color
);

$border-radius: () !default;
$border-radius: map.merge(
  (
    'base': 4px,
    'small': 2px,
    'round': 20px,
    'circle': 100%,
  ),
  $border-radius
);

$transition-duration: () !default;
$transition-duration: map.merge(
  (
    '': 0.3s,
    'fast': 0.2s,
  ),
  $transition-duration
);

// Box-shadow
$box-shadow: () !default;
$box-shadow: map.merge(
  (
    '': (
      0px 12px 32px 4px rgba(0, 0, 0, 0.04),
      0px 8px 20px rgba(0, 0, 0, 0.08),
    ),
    'light': (
      0px 0px 12px rgba(0, 0, 0, 0.12),
    ),
    'lighter': (
      0px 0px 6px rgba(0, 0, 0, 0.12),
    ),
    'dark': (
      0px 16px 48px 16px rgba(0, 0, 0, 0.08),
      0px 12px 32px rgba(0, 0, 0, 0.12),
      0px 8px 16px -8px rgba(0, 0, 0, 0.16),
    ),
  ),
  $box-shadow
);


$anchor: () !default;
$anchor: map.merge(
  (
    'bg-color': getCssVar('bg-color'),
    'padding-indent': 14px,
    'line-height': 22px,
    'font-size': 12px,
    'color': getCssVar('text-color-secondary'),
    'active-color': getCssVar('color-primary'),
    'marker-bg-color': getCssVar('color-primary'),
  ),
  $anchor
);


$switch: () !default;
$switch: map.merge(
  (
    'on-color': getCssVar('color-primary'),
    'off-color': getCssVar('border-color'),
    'border-color': getCssVar('border-color'),
  ),
  $switch
);

// Card
$card: () !default;
$card: map.merge(
  (
    'border-color': getCssVar('border-color', 'light'),
    'border-radius': 4px,
    'padding': 20px,
    'bg-color': #fff,
  ),
  $card
);

$nav: () !default;
$nav: map.merge(
  (
    'height': 64px,
    'text-color': #252933,
    'border-color': getCssVar('border-color', 'light'),
    'bg-color': getCssVar('bg-color'),
    'bg-hover-color': rgba(142, 150, 170, .14)
  ),
  $nav
);


$layout-max-width: 1440px;
$divider: #e2e2e3;